@import "base/colors";

.redbox {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: $red;
  border-radius: 6px; 
}

.redbox__text {
  display: table-cell;
  vertical-align: middle;
  height: 85px;
  width: 150px;
}