.program {
  border-bottom: 1px dashed #CCC;
}

.program__praemien {
  display:table-cell;
  vertical-align: top;
}

.program__text {
  display:table-cell;
  vertical-align: top;
  padding-right: 100px;
}