<div class="howto">
  <div class="howto__title"><div class="title"><a name="funktion">So funktionierts</a></div></div>
  <center>
    <div class="howto__content">
      <div class="content__row">
        <div class="row__column"><img ng-src="images/Bild1.jpg"/></div>
        <div class="row__column">
          <div class="redbox">
            <div class="redbox__text">Sie stellen den Kontakt her</div>
          </div>
        </div>
        <div class="row__column">Wir benötigen lediglich<br/>Ihre E-Mail-Adresse<br/>und die Ihrer Empfehlung.</div>     
      </div>
      <div class="content__row">
        <div class="row__column">&nbsp;</div>
        <div class="row__column"><img ng-src="images/arrow.jpg" height="100"></div>
        <div class="row__column">&nbsp;</div>     
      </div>
      <div class="content__row">
        <div class="row__column">Sie erhalten<br/>eine Bestätigung</div>
        <div class="row__column"><div class="redbox">
          <div class="redbox__text">E-Mail wird versandt</div>
        </div></div>
        <div class="row__column"><img ng-src="images/Bild2.jpg"/></div>     
      </div>
      <div class="content__row">
        <div class="row__column">&nbsp;</div>
        <div class="row__column"><img ng-src="images/arrow.jpg" height="100"></div>
        <div class="row__column">&nbsp;</div>     
      </div>
      <div class="content__row">
        <div class="row__column"><img ng-src="images/Bild6.jpg"/></div>
        <div class="row__column"><div class="redbox">
          <div class="redbox__text">Kontakt und PUNKTE</div>
        </div></div>
        <div class="row__column">Wir halten Sie auf<br/>dem Laufenden und<br/>schreiben Ihnen die Punkte<br/>6 - 8 Wochen<br/>nach Vertragsbeginn gut.<br/><a href="#">Teilnahmebedingung</a></div>     
      </div>
      <div class="content__row">
        <div class="row__column">&nbsp;</div>
        <div class="row__column"><img ng-src="images/arrow.jpg" height="100"></div>
        <div class="row__column">&nbsp;</div>     
      </div>
      <div class="content__row">
        <div class="row__column">&nbsp;</div>
        <div class="row__column"><div class="redbox">
          <div class="redbox__text">Ihre Punkte einlösen</div>
        </div></div>
        <div class="row__column"><img ng-src="images/Bild8.jpg"/></div>     
      </div>
    </div>
  </center>
</div>