<div class="praemien">
  <script type="text/javascript">
    $(document).ready(function() {
      $('#slideshow').fadeSlideShow({
      width: 400, // Weite der Slideshow
      height: 300, // Höhe der Slideshow
      speed: 'slow', // Geschwindigkeit der Übergangsanimation
      interval: 4000 // Zeit, bis ein neues Bild eingeblendet wird (1000 = 1 Sekunde)
    });
    });
  </script>

  <div class="praemien__text">Dies könnten Ihren Prämien sein:</div>
  <div class="praemien__bilder">
    <center>
      <div id="slideshow">


  <div>
          <img src="images/cup.jpg" height="250" />
        </div>
        <div>
          <img src="images/lens.jpg" height="250" />
        </div>
        <div>
          <img src="images/deswos.jpg" height="250" width="250" />
        </div>
        <div>
          <img src="images/snu.jpg" height="250" />
        </div>
        <div>
          <img src="images/carpet.jpg" height="250" />
        </div>
         <div>
          <img src="images/weisserring.jpg" height="250" width="250" />
        </div>
        <div>
          <img src="images/spy.jpg" height="250" />
        </div>
      </div>
    </div>
  </center>
</div>
