<div class="program">
  <div class="program__title"><div class="title">Gutscheine? 0815 Prämien? .... können wir auch, wollen wir aber <span class="red-title">nicht</span>!</div></div>
  <div class="program__text">
    <p>
      Sie sind bereits Kunde und zufrieden mit unserer Leistung? Dann empfehlen Sie uns weiter und erhalten Sie Punkte, die Sie in tolle Prämien umtauschen können. Was ist da der Vorteil Ihrer Freunde? Sie erhalten unverbindlich eine 2. Meinung zu Ihren Versicherungen.
    </p>
    <p>
      Ihre Prämien werden Sie genauso nachhaltig begeistern wie unsere Dienstleistung! Das ist uns Wichtig und unser versprechen!
      Ist dennoch keine passende Prämie für Sie dabei? Dann tun Sie für andere etwas gutes und spenden Sie Ihre Punkte an den Weißen Ring oder DESWOS. 
      Auch keine gute Idee? Dann sprechen Sie uns an, wir finden etwas für Sie…
    </p>
  </div>
  <div class="program__praemien" ng-include="'views/info/praemien.html'"></div>
</div>