<div class="werben">
  <div class="werben__title"><div class="title"><a name="werben"><span class="red-title">Weitersagen</span> lohnt sich und wird anderen helfen!</a></div></div>
  <div class="werben__text">
    <p>
      Wenn Sie als Dr. Klein- Kunde mit unseren Service besonders zufrieden waren, erzählen Sie auch Ihren Freunden und Bekannten davon. Damit können auch andere vom Dr. Klein- Service profitieren und werden Ihnen dankbar sein. Ob es um das Thema Versicherungen, Geldanlage, Ratenkredite oder Ihre Baufinanzierung geht – wir finden für sie die richtige Lösung.
    </p>
    <p>
      Ihre Empfehlung wird natürlich belohnt:
      Sie können gemäß der Teilnahmebedingungen die Punkte sammeln, aus einer Vielzahl von Prämien wählen oder Sie spenden Ihre Punkte. 
    </p>
  </div>
  <div class="werben__link"> 
    <a href="#/empfehlung" class="link">Jetzt empfehlen</a>
  </div>
</div>